.container {
  min-height: 100vh;
  background-color: var(--night);
  display: flex;
  flex-direction: column;
}

.header {
  height: 64px;
  background-color: var(--dim-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
}

.sidebar {
  width: 256px;
  background-color: var(--dim-gray);
  height: calc(100vh - 64px);
  position: fixed;
  left: -256px;
  transition: 0.2s ease-in-out;
  border-right: 2px solid var(--ghost-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarOpen {
  left: 0;
}

.content {
  flex-grow: 1;
}

.footer {
  height: 64px;
  background-color: var(--dim-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  opacity: 25%;
}

.sidebarButton {
  width: 256px;
  height: 64px;
  border: none;
  border-right: 2px solid var(--ghost-white);
  outline: none;
  background-color: var(--ash-gray);
}

.headerText {
  font-family: sans-serif;
  flex-grow: 1;
  text-align: left;
  padding-left: 16px;
}

.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
}
